.readCardContainer{
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px 0px;
}

.coverReadCard{
    width: 100%;
    height: 50%;
}

.textMode{
    font-size: 15px;
}
.forDifficultAndHeart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.readBtn{
    background-color:#1C4D8D;
    color: #BDE8F5;
    align-self: center;

    padding: 5px 12px;
    border-radius: 15px;
}