.parent-sidebar{
    background-color:#1C4D8D;
    gap: 1em 2em;
}

.sidebarLogo{
    max-width: 200px;
    max-height: 200px;
}
.navBtn{
    border: none;
    background-color: transparent;
    max-width: 100%;
    width: 100%;
    color: #FFFFFF;
    padding: 12px 5px;
    font-size: 20px;
    transition-property: color;
    transition-duration: 3000ms;
    transition-delay: 3000ms;
}
.navBtn:hover{
    background-color: hwb(0 22% 78%);
}


.logoutBtn{
    margin-top: auto;
}
.user-profile{
    color: #FFFFFF;
}