.parent-grid{
    width: 100vw;
    height: 100vh;


    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: stretch; 
    justify-items: stretch; 
    min-width: 100vh;
}


.div1 { 
    grid-area: 1 / 1 / 5 / 2; 
    display: flex;
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}



.div3 { 
    grid-area: 1 / 2 / 2 / 4; 
    width: fit-content;
    height: fit-content;
}


.div3Not { 
    display: none;
}



.div2 { grid-area: 2 / 2 / 5 / 4;


}